* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../img/wall.png');
    text-align: center;
    padding: 2.5rem;
    font-size: 30px;
}

main {
    background-image: url('../img/cork.png');
}