/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url('../img/wall.png');
    text-align: center;
    padding: 2.5rem;
    font-size: 30px;
}

main {
    background-image: url('../img/cork.png');
}

/* #endregion common */

.d-flex {
    display: flex;
}

.container {
    width: 65%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.col-4 {
    width: 32%;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.card_img {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.card_txt {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card_img {
    width: 100%;
    height: 75%;
}

.card:hover {
    scale: 1.4;
    rotate: 20deg;
}

.pin {
    position: absolute;
    right: 47%;
}

/* #region query */

@media screen and (max-width: 1024px) {
    .container {
        width: 80%;
        gap: 1px;
    }

    .col-md-6 {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 790px) {
    .container {
        width: 70%;
    }

    .col-sm {
        width: 100%;
    }
}

/* #endregion query */